<form method="post" action="/addcourses">
  <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Title</label>
    <input name="title"  type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPrice" class="form-label">Price RUB</label>
    <input type="number"  name="price" class="form-control" id="exampleInputPrice">
  </div>
  <div class="mb-3">
    <label for="exampleInputImg" class="form-label">Imagine URL</label>
    <input type="text"  name="img" class="form-control" id="exampleInputImg">
  </div>
  <button type="submit" class="btn btn-primary">Add Course</button>
</form>